language: node_js
node_js:
  - "4.1"
  - "4.0"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "npm install karma-phantomjs-launcher"
  - "npm install -g typescript"
  - "tsc src/**/*.ts --module amd --outDir build/"
after_success:
  - coveralls
