language: node_js
node_js:
  - "4.1"
  - "4.0"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "npm install -g typescript"
  - "npm install -g tsd"
  - "npm install -g gulp"
  - "tsd install"
script: gulp
